{% extends 'basic.html'%}
{% block css %}
.row{
margin-top:15px;
}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4" style="width:100%;">
Now I comes to know your problem cholera disease
You have to follow the instructions given below :
This disease cause with infected drinks and food contaminated with bacteria comes in o
        ur body with that process . So avoid these types of food .
The disease is most common in places with poor sanitation, crowding, war, and famine.
        Common locations include parts of Africa, south Asia, and Latin America. If you are
        traveling to one of those areas, knowing the following cholera facts can help protect you
        and your family.

Don’t Smoke
Use fresh foods and fresh vegetables
Use mask in affected  areas
Don’t eat market open foods
Hand wash before and after meal
Should be fresh near about your area

    </div>

    <div class="col-md-4">
Now I comes to know your problem cholera disease
You have to follow the instructions given below :
This disease cause with infected drinks and food contaminated with bacteria comes
        in our body with that process . So avoid these types of food .
The disease is most common in places with poor sanitation, crowding, war, and famine.
        Common locations include parts of Africa, south Asia, and Latin America. If you are
        traveling to one of those areas, knowing the following cholera facts can help protect
        you and your family.

Don’t Smoke
Use fresh foods and fresh vegetables
Use mask in affected  areas
Don’t eat market open foods
Hand wash before and after meal
Should be fresh near about your area

    </div>
    <div class="col-md-4">
Now I comes to know your problem cholera disease
You have to follow the instructions given below :
This disease cause with infected drinks and food contaminated with bacteria comes in our
        body with that process . So avoid these types of food .
The disease is most common in places with poor sanitation, crowding, war, and famine
        . Common locations include parts of Africa, south Asia, and Latin America. If you
        are traveling to one of those areas, knowing the following cholera facts can help
        protect you and your family.

Don’t Smoke
Use fresh foods and fresh vegetables
Use mask in affected  areas
Don’t eat market open foods
Hand wash before and after meal
Should be fresh near about your area

    </div>
</div>
{% endblock %}